html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #4f4f4f;
  height: 100%;
  width: 100%; }

footer {
  position: relative;
  float: left;
  width: 100%; }

.moods {
  float: left;
  width: 100%;
  height: 100%; }
  .moods .upload-wrapper {
    position: absolute;
    top: 0px;
    left: 0px; }
  .moods .moods-topbar {
    background-color: #d9ea65;
    width: 100%;
    height: 72px;
    float: left; }
    .moods .moods-topbar .resources {
      width: 60%;
      height: 99%;
      right: 0px;
      position: absolute; }
      .moods .moods-topbar .resources .resource {
        width: 70px;
        height: 70px;
        float: left; }
        .moods .moods-topbar .resources .resource .picto {
          background-size: cover;
          background-repeat: no-repeat;
          height: 60px;
          width: 70px; }
        .moods .moods-topbar .resources .resource .label {
          width: 70px; }
  .moods .moods-leftbar {
    background-color: #4d5e5a;
    width: 72px;
    height: 80%;
    float: left; }
    .moods .moods-leftbar .resources {
      width: 72px;
      height: 80%;
      position: absolute; }
      .moods .moods-leftbar .resources .resource {
        width: 70px;
        height: 70px;
        float: left; }
        .moods .moods-leftbar .resources .resource .picto {
          background-size: cover;
          background-repeat: no-repeat;
          height: 60px;
          width: 70px; }
        .moods .moods-leftbar .resources .resource .label {
          width: 70px; }
  .moods .moods-container {
    width: 100%;
    height: 100%; }
    .moods .moods-container .name {
      float: left; }
    .moods .moods-container .button {
      cursor: pointer; }
    .moods .moods-container .usual {
      position: relative;
      float: left;
      width: 100%; }
    .moods .moods-container .col-comments {
      position: relative;
      float: left;
      width: 20%;
      overflow-y: auto; }
      .moods .moods-container .col-comments.tool-colcom {
        width: 100%;
        position: absolute; }
        .moods .moods-container .col-comments.tool-colcom .group-comment {
          z-index: 50;
          border: none;
          width: 30%;
          border-radius: 6px; }
      .moods .moods-container .col-comments .collapse-col {
        top: -24px;
        font-family: "Lato", sans-serif;
        font-style: italic;
        color: #68b2f8;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee; }
      .moods .moods-container .col-comments .group-comment {
        position: absolute;
        float: left;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid #eee;
        transition: top 0.3s, margin-left 0.3s, width 0.2s;
        overflow: hidden; }
        .moods .moods-container .col-comments .group-comment .pin-picto {
          width: 10px;
          height: 10px;
          background-color: #FF0000; }
        .moods .moods-container .col-comments .group-comment .wrap-comments {
          margin: 6px;
          border-left: 5px solid; }
          .moods .moods-container .col-comments .group-comment .wrap-comments .collapse-com {
            float: left;
            font-family: "Lato", sans-serif;
            font-style: italic;
            color: #68b2f8;
            font-size: 12px;
            cursor: pointer; }
          .moods .moods-container .col-comments .group-comment .wrap-comments .comment {
            padding: 3px 6px;
            font-family: "Open Sans", sans-serif;
            transition: top 0.3s;
            border-spacing: 6px 0px; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-name {
              width: 1px;
              font-weight: bold;
              vertical-align: top; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-right {
              min-width: 79%; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-txt {
              color: #fff;
              font-size: 14px;
              white-space: pre; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-txt[contenteditable=true] {
                outline: 0px solid transparent; }
            .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info {
              width: 100%; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info .comment-date {
                float: right;
                font-size: 12px;
                font-style: italic; }
              .moods .moods-container .col-comments .group-comment .wrap-comments .comment .comment-info .comment-button {
                display: inline;
                font-size: 12px;
                color: #68b2f8;
                font-weight: bold; }
    .moods .moods-container .moods-container-view {
      border: 1px solid black;
      position: relative;
      float: left;
      height: 545px;
      width: 60%; }
      .moods .moods-container .moods-container-view canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none; }
      .moods .moods-container .moods-container-view .cover {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-Index: -5; }
        .moods .moods-container .moods-container-view .cover .case {
          border: 1px solid #000000; }
      .moods .moods-container .moods-container-view .view.stories, .moods .moods-container .moods-container-view .view.moods {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF; }
        .moods .moods-container .moods-container-view .view.stories .header, .moods .moods-container .moods-container-view .view.moods .header {
          width: 100%;
          height: 12%;
          position: absolute; }
          .moods .moods-container .moods-container-view .view.stories .header .case, .moods .moods-container .moods-container-view .view.moods .header .case {
            top: 30%; }
          .moods .moods-container .moods-container-view .view.stories .header .title, .moods .moods-container .moods-container-view .view.moods .header .title {
            width: 60%;
            height: 50%;
            top: 30%;
            left: 20%;
            position: absolute;
            outline: none;
            font-size: 42px; }
      .moods .moods-container .moods-container-view .view.moods .caseBox {
        top: 17%;
        left: 20%; }
      .moods .moods-container .moods-container-view .view.moods .label {
        width: 170px;
        height: 30px;
        font-size: 18px;
        color: #FFFFFF;
        padding: 15px 25px 15px 15px;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        outline: none;
        background-color: #444444; }
      .moods .moods-container .moods-container-view .view.moods .header .case {
        left: 10%; }
      .moods .moods-container .moods-container-view .view.stories .case {
        top: 17%;
        left: 10%; }
      .moods .moods-container .moods-container-view .view.stories .bp-commentaries {
        right: 25px;
        position: absolute;
        width: 200px;
        height: 450px;
        top: 17%; }
        .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment {
          min-height: 10px;
          width: 100%;
          position: relative;
          float: left; }
          .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment .response {
            width: 80%;
            left: 25px;
            position: relative; }
            .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment .response .pin-picto {
              background-color: #FF0000; }
            .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment .response .textfield {
              width: 150px;
              float: left;
              outline: none; }
          .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment .pin-picto {
            width: 10px;
            height: 10px;
            background-color: #CC00DD;
            float: left; }
            .moods .moods-container .moods-container-view .view.stories .bp-commentaries .comment .pin-picto .textfield {
              width: 188px;
              float: left;
              outline: none; }
      .moods .moods-container .moods-container-view .moods-arrow {
        color: #1e1e1e;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 40%;
        height: 24px;
        width: 24px; }
      .moods .moods-container .moods-container-view .moods-previous {
        left: 0px; }
      .moods .moods-container .moods-container-view .moods-next {
        right: 0px; }
