html
  height: 100%
  width: 100%
body
  margin: 0
  padding: 0
  background-color: #4f4f4f
  height: 100%
  width: 100%
footer
  position: relative
  float: left
  width: 100%
.moods
  float: left
  width: 100%
  height: 100%
  .upload-wrapper
    position: absolute
    top: 0px
    left: 0px
  .moods-topbar
    background-color: #d9ea65
    width: 100%
    height: 72px
    float: left
    .resources
      width : 60%
      height : 99%
      right : 0px
      position : absolute
      .resource
        width : 70px
        height : 70px
        float : left
        .picto
          height : 60px
          width : 70px
        .label
          width : 70px
  .moods-leftbar
    background-color: #4d5e5a
    width: 72px
    height: 80%
    float: left
  .moods-container-view
    border: 1px solid black
    position: relative
    float: left
    height: 80%
    width: 80%
    .moods-view
      width: 100%
      .moods-view-comment
        position: absolute
        bottom: 0px
        text-align: center
    .moods-arrow
      color: #1e1e1e
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute
      top: 40%
      height: 24px
      width: 24px
    .moods-previous
      left: 0px
    .moods-next
      right: 0px
