html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #4f4f4f;
  height: 100%;
  width: 100%; }

footer {
  position: relative;
  float: left;
  width: 100%; }

.moods {
  float: left;
  width: 100%;
  height: 100%; }
  .moods .upload-wrapper {
    position: absolute;
    top: 0px;
    left: 0px; }
  .moods .moods-topbar {
    background-color: #d9ea65;
    width: 100%;
    height: 72px;
    float: left; }
    .moods .moods-topbar .resources {
      width: 60%;
      height: 99%;
      right: 0px;
      position: absolute; }
      .moods .moods-topbar .resources .resource {
        width: 70px;
        height: 70px;
        float: left; }
        .moods .moods-topbar .resources .resource .picto {
          height: 60px;
          width: 70px; }
        .moods .moods-topbar .resources .resource .label {
          width: 70px; }
  .moods .moods-leftbar {
    background-color: #4d5e5a;
    width: 72px;
    height: 80%;
    float: left; }
  .moods .moods-container-view {
    border: 1px solid black;
    position: relative;
    float: left;
    height: 80%;
    width: 80%; }
    .moods .moods-container-view .moods-view {
      width: 100%; }
      .moods .moods-container-view .moods-view .moods-view-comment {
        position: absolute;
        bottom: 0px;
        text-align: center; }
    .moods .moods-container-view .moods-arrow {
      color: #1e1e1e;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 40%;
      height: 24px;
      width: 24px; }
    .moods .moods-container-view .moods-previous {
      left: 0px; }
    .moods .moods-container-view .moods-next {
      right: 0px; }
