head
	title Yuyu
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
	script(type = 'text/javascript', src = "http://localhost:4242/socket.io/socket.io.js")
	link(rel='stylesheet', href='css/index.css', type='text/css')

	script(type='text/javascript', src='js/libs/sand.min.js')
	script(type='text/javascript', src='js/libs/Seed.js')
	script(type='text/javascript', src='js/libs/core.min.js')
	script(type='text/javascript', src='js/libs/toDOM.sand.js')
	script(type='text/javascript', src='js/libs/dp.light.min.js')
	script(type='text/javascript', src='js/libs/handle.js')
	script(type='text/javascript', src='js/libs/prototypes.js')
	script(type='text/javascript', src='js/libs/DOM.min.js')
	script(type='text/javascript', src='js/libs/jquery.js')
	script(type='text/javascript', src='js/libs/prettyDate.js')

	script(type='text/javascript', src='js/libs/review/ComModule.js')
	script(type='text/javascript', src='js/libs/review/ColComments.js')
	script(type='text/javascript', src='js/libs/review/CommentsGroup.js')
	script(type='text/javascript', src='js/libs/review/Comment.js')
	script(type='text/javascript', src='js/libs/review/Library.js')
	script(type='text/javascript', src='js/libs/review/sideCanvas/CanvasArea.js')
	script(type='text/javascript', src='js/libs/review/sideCanvas/CanvasTrack.js')

	script(type='text/javascript', src='js/libs/moods/Moods.js')
	script(type='text/javascript', src='js/libs/moods/View.js')
	script(type='text/javascript', src='js/libs/moods/Cover.js')
	script(type='text/javascript', src='js/libs/moods/Upload.js')
	script(type='text/javascript', src='js/libs/moods/Bar.js')
	script(type='text/javascript', src='js/libs/moods/Leftbar.js')
	script(type='text/javascript', src='js/libs/moods/Resource.js')
