head
	title Yuyu
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
	script(type = 'text/javascript', src = "http://localhost:4242/socket.io/socket.io.js")
	link(rel='stylesheet', href='css/index.css', type='text/css')

	script(type='text/javascript', src='js/libs/sand.min.js')
	script(type='text/javascript', src='js/libs/Seed.js')
	script(type='text/javascript', src='js/libs/core.min.js')
	script(type='text/javascript', src='js/libs/toDOM.sand.js')
	script(type='text/javascript', src='js/libs/dp.light.min.js')

	script(type='text/javascript', src='js/libs/moods/Moods.js')
	script(type='text/javascript', src='js/libs/moods/View.js')
	script(type='text/javascript', src='js/libs/moods/Cover.js')
	script(type='text/javascript', src='js/libs/moods/Upload.js')
	script(type='text/javascript', src='js/libs/moods/Topbar.js')
	script(type='text/javascript', src='js/libs/moods/Leftbar.js')
